.header{
  background: var(--gray);
}
.wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100vw;
  padding: 0 10px;
  //flex: 1 1 auto;
  flex: 2 2 10%;
}
.menu{
  //flex: 1;
}
.wrapLogo{
  //flex: 1;
  align-self: flex-start;
  .logo{
    border-radius: 50%;
  }
}

.phone{
  //flex: 1;
}
