.wrap{
  display: flex;
  align-items: center;
  .title{
    font-size: 14px;
    font-weight: 500;
    color: var(--grayLight);
  }
  .group{
    display: flex;
    gap: 10px;

    .btn{
      margin: 10px;
      width: 120px;
      height: 40px;
      font-size: 14px;
      font-weight: 500;
      border-radius: 5px;
      color: var(--black);
      background: transparent;
      border: 1px solid var(--grayLight);
      cursor: pointer;
      &:hover{
        background: var(--grayLight);
        color: var(--white);
      }
    }
    .selected{
      background: var(--gray);
      color: var(--white);
    }
  }
}