.wrap{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  background: var(--white);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.07);
  padding: 30px;
}
.icon{

}
.title{
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;

}
.description{
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0;
}
